
<div class="clearingall" ng-repeat="itm in r.items|orderBy:'orden'" ng-class="{visibil:publicaBox(editando,itm.publicado)}">
	<div class="imgbox" style="position: relative;">


			<div id="src-color-||itm.pk||">
				<div ng-if="itm.img=='/static/imgs/defaults/imagenrebasada.jpg'" 
				     style="background:||itm.config.backcolor||;width:100%;height:||itm.config.altura||vh;" >
				     &nbsp;</div>


				<div ng-if="itm.img!='/static/imgs/defaults/imagenrebasada.jpg'" 
				     style="height:||itm.config.altura||vh;overflow: hidden;background:||itm.config.backcolor||;">
				<img id="src-lo-||itm.pk||" src="||itm.img||"  ng-if="itm.img" style="width:100%;" class="image-responsive">
				</div>
					
				<div class="info-color" 
					  style="padding:0px ||itm.config.margs||px; text-align:||itm.config.textalg||;">
					<div style="display: table;width:100%;height:100%;position: relative;z-index: 1;">
						<div style="display: table-row;">
							<div style="display: table-cell;width: 100%;height: 100%;vertical-align: middle;padding-left:45px;">
								<font class="cfg_titulos" color="||itm.config.fontcolor||" size="||itm.config.fontsize||px">
									||itm.title||
								</font>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>