<style type="text/css">
	
	#tressbox-||r.pk|| .redondeo{
		background:||r.config.backcolor||;
		color:||r.config.fontcolor||;
	}


</style>


<div id="tressbox-||r.pk||" class="row sfera" ng-class="{managging:editando===true}" style="position: relative;">

	<div ng-class="{visibil:publicaBox(editando,itm.publicado)}" style="padding:0px ||r.config.margs||px;">

	<div ng-repeat="itm in r.items|orderBy:'orden'" >

		<img  src="||itm.img||" 
		      ng-if="itm.img=='/static/imgs/defaults/imagenrebasada.jpg'" 
		      ng-hide="editando"  
		      class="img-responsive"  
		      width="100%"/>
		<div style="position: relative;width:100%;padding:0px ||r.config.margs||px;" ng-show="editando">
				<div class="top-btns" ng-show="editando" style="z-index: 120;right: 30px;">
						<a href="#" class="boton" ng-click="loadImg($event,this,'tress');">
							<span class="icon-iconos-brandline_banco-de-imagen"></span>
						</a>	
				</div>
			<img  src="||itm.img||" ng-if="itm.img=='/static/imgs/defaults/imagenrebasada.jpg'"  class="img-responsive"  width="100%"/>
			<div id="tress-||itm.pk||">

			<img  src="||itm.img||" ng-if="itm.img" ng-hide="itm.tresscero" class="img-responsive"  width="100%" />
			</div>	
		</div>

		<div id="paraque-||itm.pk||" ng-show="itm.tresscero" style="width:100%;height:450px;z-index:1001;" ng-if="itm.img!='/static/imgs/defaults/imagenrebasada.jpg'"></div>
		<div ng-hide="editando">
			        <div ng-include 
			             src="'/static/modulos/' + itm.tresscero + '?updated=' + itm.tresupdateTime" 
			             ng-if="itm.img" 
			             onload="cargando_ambiente(itm,r);">
	        		</div >	
		</div>

		<div  ng-hide="editando" style="margin:20px 0px;padding: 0px 90px;">
			<font color="||r.config.fontcolor||" size="||r.config.fontsize||px">
			<div class="cfg_subtitulos input-title input-w-decored">||itm.title||</div>				
			<div class="cfg_textos input-title input-w-decored">||itm.descp||</div>
			</font>
		</div>


				<div class="editionbox" ng-show="editando" style="padding: 0px 90px;">
					
				<div class="lb notaslistbox" ng-repeat="m in itm.markas">
						<span class="redondeo">||m.orden||</span>
				      	<input type="text" ng-model="m.tooltip" ng-focus="onsee(m);"  ng-blur="upMarka(m,itm);" style="border:0px solid;width:70px;"  />
				        <button  class="btn btn-default" ng-click="rmMarka($event,m,itm);" type="button">x</button>      
				</div>


					<div>
						<div>
							<input 
								type="text"  
								ng-model="itm.title" 
								class="input-title input-w-decored cfg_subtitulos" 
								placeholder="T&iacute;tulo" />
						</div>
						<div>
							<input 
							    type="text"  
							    ng-model="itm.descp" 
							    class="input-title input-w-decored cfg_textos" 
							    placeholder="Texto" />
						</div>					
					</div>
					<div class="newseparador">

						<a href="#" class="boton rg-side"
						   ng-class="{btn_active:editore(itm)}" 
						   ng-click="savetress($event,itm,this)">
							<i class="glyphicon glyphicon-ok"></i>
						</a>
			
						<div class="clr-both" style=""></div>
					</div>
				</div>



	</div>
	</div>

</div>


