<div  id="megamenu" style="background: #4c4c4c;height:100px;width:100%;">
  
  <div class="nodes-box" id="brandline-logo">
    <span class="brandlogo cfg_titulos">BrandLine </span>
  </div>

  <ul class="nodes-box central-menu cfg_textos" >
  <li>menu</li>
  </ul>

  <ul class="nodes-box right-menu">
    <li class="nodes-list">
      <a href="/">
        Home
      </a>
    </li>
    <li class="nodes-list">
      <a href="/?gone=1">
        <i class="glyphicon glyphicon-off"></i>
      </a>
    </li>

  </ul>
  <div style="clear: both;height:0px;width:0px;overflow:hidden;">&nbsp;</div>


</div>







