

.noseve{
	display: none;
}


.first_color{
	color:#40b4e5 !important;
}

.second_color{
	color:{{syscolors.1}};
}


.menubar{
	background:{{cfgpage.fondocolor}};height:100px;width:100%;
	position: fixed;z-index: 11;top:0px;
}

.menubar a{
	color:{{cfgpage.fuentecolor}} !important;
}

#megamenu{
	height:100px;width:100%;position:fixed;z-index:1001;top: 0px;
	height:100px;width:100%;
	border-bottom:4px #fff solid;

}



