{% extends base %}

{% block content %}


<div class="separador">&nbsp;</div>

<div class="titulo ttulo-complemento">Servicios y Programas</div>

<a name="/servicios"></a>
    <div class="parallax-window" data-parallax="scroll" data-image-src="/static/logos/sesentamas.jpg" style="height:50vh;width:100%;padding:5% 0px 0px 0px;">
                <div class="bloquemedio">Programa 60 y más</div>
                <div class="sesentatxt" >
                    <p class="titulo"> Un otoño más</p>
                    <p class="subtitulo" >una nueva oportunidad para florecer</p>
                </div>
    </div>

        <div style="padding:7% 15%;font-size:1.2rem;line-height:1.4;width:100%;margin:0px auto;background-image: linear-gradient(#ececec,#fff);">
            
                
                <p class="subtitulo"> Este Programa ofrece a los <b>adultos mayores</b> la oportunidad <i>mejorar su atención, concentración, memoria.</i></p><br>
                <p >
                    Mediante la  <b>estimulación neurológica, emocional y cognitiva</b> utilizando terapias y actividades para resolución de problemas, el adulto podra <b>reactivar funciones neuronales.</b>
                </p>
            
        </div>

<style type="text/css">
    .cardex{

        display: inline-block;
        width:50vw;
    }
</style>







<div style="width:40%;margin: auto;border-top:#ececec dotted 1px;">&nbsp;</div>



    <div class="parallax-window" data-parallax="scroll" data-image-src="/static/logos/tqa.jpg" style="position:relative;height:50vh;width:100%;padding:6% 0px 0px 0px;">


            <div class="lapicitos" >         
                <p><img src="/static/logos/todosqap.png" style="width:50%;">  </p><br>
                <p style="color:#fff;" class="titulo">TODOS QUEREMOS APRENDER</p>
                
            </div>



    </div>







        <div style="padding:20px 5%;font-size:1.2rem;line-height:1.4;width:90%;margin:0px auto;text-align: right;">
       
                <p class="subtitulo"> Este Programa ofrece 
                <b>estimulacion cogniniva para niños</b>, parte del hecho de que cada cerebro humano es como una huella digital única e inigualable con la estimulación constante se crean mejores respuestas adaptativas y funcionales por lo que este programa 
                <i>implica estimulación básica para trastornos y discapacidades así como aptitudes sobresalientes.</i>
                </p>
                <br>
                <p>
                    <b>Regularización academica.</b>
                </p>

            
        </div>



</div>


<section class="contacto" style="margin-top:120px;">
    <a name="/contacto"></a>

    <div  class="titulo ttulo-complemento">Contácto</div>
    <div class="separador">&nbsp;</div>


    <form id="contactform" action="/contacto" method="post" style="width: 90%;margin: auto;" class="sended">
        {% csrf_token %}
        <div>

            <div class="columna" style="width:30%;min-width: 250px;margin-right: 20px;">

                <div class="eli" style="text-align:center;margin:40px auto;padding:0px 0px;">
                    
                    <p class="subtitulo" style="vertical-align: top;"><b>Elizabeth Alvarado</b> </p>
                    <p>
                        
                         <b><i class="fab fa-discourse"></i></b>
                         <b class="titulo">5529003022</b>
                    </p>
                    <p>
                        <b><i class="fas fa-envelope-open"></i></b>
                        <a href="mailto:alvaeducacion01@gmail.com;" class="titulo"><b>alva.educacion01@gmail.com</b></a>
                    </p>


                </div>

            </div>
            <div class="columna" style="border-left: 1px solid #ececec;padding:10px 40px;">
                <div id="formabox">
                    <div >
                        <label for="name">
                            Nombre:
                        </label>
                        <input type="text" name="name" class="form-control" placeholder="tu nombre">
                    </div>

                    <div>
                        <label for="correo">
                            Correo:
                        </label>
                        <input type="text" name="correo" class="form-control" placeholder="email">
                    </div>

                    <div>
                        <label for="mensaje">
                            Mensaje:
                        </label>
                        <textarea class="form-control" name="mensaje"></textarea>
                    </div>

                <div style="text-align: right;">
                    <button type="submit" style="font-size: 1.2rem;" >Enviar</button>
                </div>
            </div>
            </div>

          

        



    </form>

</section>




<br>




{%  endblock %}


{% block modules_loader %}







<script type="text/javascript">
    
    jQuery(document).ready(function(){

         $('.sended').submit(sendit);



    });

</script>








{% endblock %}