<nav id="mainmenu_page" class="navbar navbar-default navbar-fixed-top " ng-controller="megamenuCtr" >
      <div class="container">

        <div class="navbar-header">
          <button style="border:0px solid;color:#999;background: transparent;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <i class="fas fa-align-justify"></i>
          </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav menupage" id="main-ul">
            <li style="border-right:1px solid #ececec;">
              
              <a href="#" class="dropdown-toggle mainmenu titulo" 
                          data-toggle="dropdown" 
                          role="button" 
                          aria-expanded="false"  
                          style="color:#ececec;font-weight:400;font-size:1.3rem;" 
                          >
                          alva.educación
              </a>

            </li>

            <li>
              <a href="#servicios" class="mainmenu">
                Servicios
              </a>
            </li>


            <li>
              <a href="#contacto" class="mainmenu">
                Contácto
              </a>
            </li>



            <li>
              <a href="#acerca" class="mainmenu">
                Acerca de
              </a>
            </li>




        </div><!--/.nav-collapse -->
      </div>
    </nav>










