<section id="headbox" style="vertical-align: middle;" ng-controller="megamenuCtr"  >

<div style="display: table;width:100%;height:100px;">
    <div style="display: table-row;">
        <div style="display:table-cell;vertical-align: middle;width:10%;">
            <div class="brandlogo">BrandLine</div>
        </div>
        <div style="display:table-cell;vertical-align: middle;text-align:left;">
            
            <ul class="menubag">
                <li ng-repeat="s in sections">
                    <a href="#">||s.title||</a>
                </li>
            </ul>
            <div style="height: 0px;clear:both;">&nbsp;</div>
        </div>
        <div style="display:table-cell;vertical-align:middle;text-align:right;">
            <ul class="menubag_right" >
                <li><a href="/cfg/">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </a>
                </li>
                <li id="menutabres">
                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                </li>
            </ul>
            <div style="height: 0px;clear:both;">&nbsp;</div>

        </div>
    </div>

</div>




</section>
