	<div class="headbox" >		
		<div class="title" style="float: left;padding-top: 20px;">Banco de imagenes</div>
		<div style="float: right;text-align: right;margin:10px 0px;">
			<a href="#addItem"  class="boton-g-round cierraboximgreb" ng-click="colserr();">
				<i class="glyphicon glyphicon-remove"></i>
			</a>
			<a href="#addItem"  class="boton-g-round cierraboximgreb" ng-click="savecatsbanco($event,datos.itm);">
				<i class="glyphicon glyphicon-ok"></i>
			</a>
		</div>
		<div style="clear: both;height: 0px;"></div>

	</div>

	<div class="cepar"></div>

	<div style="margin:20px 0px 30px 0px;">
	<ul>
		<li ng-repeat="c in datos.r.allcats">

			    <div class="input-group">
			    	<p class="txt-form">||c.name||</p>
			    </div>
			<ul>
				<li ng-repeat="sb in c.subcats" style="padding-left: 20px;">
			    	<input type="checkbox" ng-checked="faltanmas(datos,sb);" name="mycats[]" ng-click="addcatbanco(datos.itm.mycats,sb);" />
					<span class="txt-form" >||sb.name||</span>
				</li>
			</ul>
		</li>
	</ul>
</div>



<script type="text/javascript">
	
	jQuery(document).ready(function(){

		$('.cierraboxbanco').click(function(){
			$('#cfg_banco').hide();
		});



	});

</script>