  <ul class="menu_barra">
    <li>
    	<a href="#" class="boton" 
    	   ng-click="cfg_grid($event,this,'cfg_grid','Grid Links',itm);"> 
    		<i class="glyphicon glyphicon-pencil"></i>
     	</a>
     </li>
    <li>
    	<a href="#addItem" ng-click="addItm($event,this);" class="boton">
    		<i class="glyphicon glyphicon-plus"></i>
    	</a>
    </li>
    <li><a href="#" class="boton" ng-click="rmme($event,this,this.rows,r,'mod');"> <i class="glyphicon glyphicon-trash"></i> </a></li>
		<li>
			<a href="#" class="boton" ng-click="publicarRow($event,r);">
				<i class="glyphicon glyphicon-ok"></i>
			</a>
		</li>

  </ul>